version: '3.8'

services:
  flask_app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: flask_ui_app
    ports:
      - "5000:5000"
    volumes:
      - ${LOGS_DIRECTORY}:/app/logs
      - ./salt.bin:/app/salt.bin
    env_file:
      - .env
    command: "flask run --host=0.0.0.0 --port=5000 --no-reload"
    restart: unless-stopped
    profiles: [ui]

  fastapi_app:
    build:
      context: .
      dockerfile: Dockerfile
      network: host
    container_name: fastapi_provisioning_api
    ports:
      - "8000:8000"
    volumes:
      - ${LOGS_DIRECTORY}:/app/logs
      - ./salt.bin:/app/salt.bin
    env_file:
      - .env
    command: "uvicorn fastapi_app:app --host 0.0.0.0 --port 8000 --reload --reload-exclude /app/logs"
    restart: unless-stopped
    profiles: [api]
